@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    scroll-behavior: smooth;
    font-size: calc(1vw + 0.7em);
    --textColor: rgba(0, 0, 0, 0.7);
    --textColor: rgba(0, 0, 0, 0.7);
    --zindexOfFilter: 10;
    --zindexOfHeader: 20;
    --zindexOfNavigation: 100;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor);
    transition: 0.3s;
    background-color: #f0f7f7b4;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.wrapper,
header {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

.text-center {
    text-align: center;
}

/* *header: begin */
header {
    position: fixed;
    width: 100%;
    padding: 0.5em;
    z-index: var(--zindexOfHeader);
    background-color: #F0F7F7;
    transition: 0.5s;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3rem;
    color: var(--textColor);
    text-transform: capitalize;
}

.button {
    background-color: white;
    border: none;
    font-size: 0.8rem;
    padding: 0.3em 0.7em;
    font-weight: bold;
    cursor: pointer;
}

.button--radius {
    border-radius: 1em;
}

.header__left .button--filter {
    padding-left: 0.4em;
    border: 1px solid grey;
    margin-right: 1em;
}

a.phone_num {
    margin-right: 3em;
}

a.phone_num>i {
    color: #027D7C;
    font-size: 1rem;
    background-color: white;
    padding: 0.4em;
    border-radius: 50%;
    margin-right: 0.2em;
    position: relative;

}

a.phone_num>i>span {
    position: absolute;
    border-left: 2px solid currentColor;
    border-right: 2px solid currentColor;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    animation: phone_icon 1.5s infinite linear;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

@keyframes phone_icon {
    to {
        transform: rotate(360deg);
    }
}

a.phone_num>span {
    display: none;
}

.image-icon {
    width: 1.2em;
    margin: 0 0.5em;
    filter: grayscale(200%);
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__icon {
    position: absolute;
    height: 1.5em;
    width: 1.6em;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
}

.menu__icon>.icon__bar {
    height: .3em;
    border-radius: 10em;
    background-color: dodgerblue ;
    position: relative;
    transition: .2s;
}

.menu__icon>.icon__bar::before {
    right: 106%;
    position: absolute;
    content: '';
    height: .3em;
    width: .3em;
    border-radius: 450%;
    background-color: dodgerblue ;
}

.menu__icon>.icon__bar+.icon__bar {
    margin-top: calc(0.6em / 2);
}

.menu__icon.active .icon__bar--1 {
    transform: translateY(.5em) rotate(-45deg);
}

.menu__icon.active .icon__bar--2 {
    opacity: 0;
    ;
}

.menu__icon.active .icon__bar--3 {
    transform: translateY(-.5em) rotate(45deg);
}

/* *header: end */
/* * global navigation: begin */
.navigation {
    position: relative;
    z-index: var(--zindexOfNavigation);
}

ul {
    list-style: none;
}

.navigation__list-link {
    position: fixed;
    /* top: calc(-2.4em * 4 - 25px); */
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 55%;
    background-color: #202020;
    transition: .2s ease-out;
    overflow: hidden;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation.active .navigation__list-link {
    transform: translateX(0);
}

.navigation__link {
    display: block;
    padding: 0.7em 2em;
    color: #f7f7f7;
    font-size: 1.2rem;
}

/* * global navigation: end */

/* * banner: begin */
.banner {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 2em;
    height: 100vh;
    background-color: #F0F7F7;
}

.banner__left,
.banner__right {
    position: relative;
    overflow: hidden;
}

.banner__left {
    flex: 2;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--textColor);
    letter-spacing: 0.1em;
}

h1~p {
    font-style: italic;
    font-size: 0.9rem;
}

.banner__right {
    flex: 3;
    flex-shrink: 2;
    position: relative;
}

.banner__right::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.banner__slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
}

.banner__slide .text {
    color: white;
    text-align: center;
    position: absolute;
    z-index: 20;
    transition: 1s;
    opacity: 0;
}

.banner__right .text--large {
    text-transform: uppercase;
    left: 50%;
    bottom: 2em;
    font-size: 1.2rem;
}

.banner__right .text--small {
    right: 50%;
    font: 0.7rem;
    bottom: 1em;
}

.translate.text--large {
    transform: translateX(-50%);
    opacity: 1;
}

.translate.text--small {
    transform: translateX(50%);
    opacity: 1;
}

.banner__slide img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.button {
    background-color: white;
    border: none;
    font-size: 0.8rem;
    padding: 0.3em 0.7em;
    font-weight: bold;
    cursor: pointer;
}

.banner__left .button {
    border: 2px solid dodgerblue;
    color: dodgerblue;
    padding: 0.5em 0.8em;
    margin-top: 1em;
    transition: 0.3s;
}

.banner__left .button:hover {
    background-color: dodgerblue;
    color: white;
}

.svg {
    position: relative;
    z-index: -10;
}

.svg img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(4px 4px 4px gray);
}

/* * banner: end */

h2 {
    padding-top: 0.5em;
    padding-bottom: 1em;
}

section {
    padding-bottom: 3em;
}

/**how it works: begin*/
.work {
    padding: 0.7em 0.5em 0;
    margin-bottom: 2em;
    min-height: 15em;
}

.work__steps {
    display: grid;
    gap: 1em;
}

.work__card {
    display: flex;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
    filter: drop-shadow(4px 4px 4px grey);
}

.work__card>p {
    color: white;
    margin-left: 1em;
    font-size: 1rem;
}

.work__card>i {
    padding: 0.6em;
    height: 2.2em;
    width: 2.2em;
    background-color: white;
    border-radius: 50%;
}

.work__card--search {
    background-color: #fabc60;
}

.work__card--search>i {
    color: #fabc60;
}

.work__card--contact {
    background-color: dodgerblue;
}

.work__card--contact>i {
    color: dodgerblue;
}

.work__card--agree {
    background-color: #027D7C;
}

.work__card--agree>i {
    color: #027D7C;
}

/**how it works: end */
/* * product: begin */
.product {
    padding: 1em 1em;
    margin-bottom: 4.5em;
    position: relative;
}

.product__tab .tab__buttons {
    margin-bottom: 1.5em;
}

.product__tab .tab__buttons .button {
    font-size: 1.3rem;
    min-width: 4em;
    margin: 0 0.3em;
    border: 2px solid dodgerblue;
    color: dodgerblue;
    transition: 0.3s;
}

.product__tab .tab__buttons .button:hover,
.product__tab .tab__buttons .button.active {
    background-color: dodgerblue;
    color: white;
}

.product .tab__content {
    display: none;
}

.product .tab__content.is-show {
    display: grid;
    gap: 0.5em;
}

.product__card {
    position: relative;
    width: 100%;
    border: 1px solid grey;
    box-shadow: 3px 3px 3px grey;
}

.card__image {
    display: block;
    position: relative;
    height: 15em;
    overflow: hidden;
}

.card__image>img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    transition: 0.5s;
    left: 0;
}

.card__content {
    position: relative;
    padding: 1em;
    background-color: white;
}

.card__content .cost {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.card__content>*:not(.line) {
    padding: 0.1em;
}

.card__content .line {
    width: 90%;
    margin: 1.5em auto 1em;
    border: 0.5px solid grey;
    position: relative;
}

.line .circle {
    position: absolute;
    top: 50%;
    display: inline-block;
    height: 1em;
    width: 1em;
    background-color: dodgerblue;
    border-radius: 50%;
}

.line .circle--1 {
    left: 15%;
    transform: translate(-50%, -50%)
}

.line .circle--2 {
    left: 50%;
    transform: translate(-50%, -50%)
}

.line .circle--3 {
    left: 85%;
    transform: translate(-50%, -50%)
}

.card__footer {
    display: flex;
    align-items: baseline;
    width: 90%;
    margin: 0 auto;
}

.card__footer>.col-33 {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.col-33 {
    width: 33.33%;
}

.image-icon {
    height: 1.5em;
}

.product>.button--more {
    position: absolute;
    top: calc(100% + 1em);
    left: 50%;
    transform: translateX(-50%);
    padding: 0.7em 1em;
    border: 1px solid dodgerblue;
    overflow: hidden;
    transition: 0.3s 0.2s;
}

.product .button--more::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
    z-index: -1;
    transform: translate(-100%);
    transition: 0.3s;
}
.product .button--more:hover{
    color: white;
}
.product .button--more:hover::before {
    transform: translate(0);
}

/* * footer: begin */
.footer {
    display: flex;
    align-items: center;
    min-height: 15em;
    padding: 1em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.37)), url(/image/bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.footer>* {
    flex: 1;
}

.footer__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__left__contact {
    display: flex;
    border-radius: 0.5em;
    padding: 0.3em;
}

.footer h3 {
    color: white;
}

.footer__left__contact a {
    display: inline-block;
    margin: 0.5em 1em;
}

.footer__left__contact a i {
    font-size: 1.7rem;
}

.footer .fa-facebook-f {
    color: dodgerblue;
}

.footer .fa-phone {
    color: #2ba3a3;
}

.footer .fa-envelope {
    color: #e69b2b;
}

.footer .zalo-icon {
    height: 1.7rem;
}

.footer__right {}

@media screen and (min-width: 46.25em) {
    a.phone_num>span {
        display: inline;
    }

    .work__steps {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .work__card {
        flex-direction: column;
    }

    .work__card>p {
        text-align: center;
        line-height: 1.5;
        margin: 1em 0 0
    }

    .tab__content {
        grid-template-columns: 1fr 1fr;
    }



}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {}

@media screen and (min-width: 63.9375em) {

    .banner {
        flex-direction: row;
    }

    .tab__content {
        grid-template-columns: 1fr;
    }

    .product__card {
        display: flex;
        height: 12em;
    }

    .product__card>* {
        width: 50%;
        height: 100%;
    }

    .product__card:nth-child(2n) {
        flex-direction: row-reverse;
    }
}