@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    scroll-behavior: smooth;
    font-size: calc(1vw + 0.8em);
    --textColor: rgba(0, 0, 0, 0.7);
    --textColor: rgba(0, 0, 0, 0.7);
    --zindexOfFilter: 10;
    --zindexOfHeader: 20;
    --zindexOfNavigation: 200;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor);
    transition: 0.3s;
    background-color: #f0f7f7b4;
}

::-webkit-scrollbar {
    width: 5px;
    padding: 1em;
}

::-webkit-scrollbar-thumb {
    background-color: #e69b2b;
}

::-webkit-scrollbar-track {
    background-color: lightgrey;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.wrapper,
header {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

.text-center {
    text-align: center;
}

/* *header: begin */
header {
    position: fixed;
    width: 100%;
    padding: 0.5em;
    z-index: var(--zindexOfHeader);
    background-color: #F0F7F7;
    transition: 0.5s;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3rem;
    color: var(--textColor);
    text-transform: capitalize;
}

.button {
    background-color: white;
    border: none;
    font-size: 0.8rem;
    padding: 0.3em 0.7em;
    font-weight: bold;
    cursor: pointer;
}

.button--radius {
    border-radius: 1em;
}

a.phone_num {
    margin-right: 3em;
}

a.phone_num>i {
    color: #027D7C;
    font-size: 1rem;
    background-color: white;
    padding: 0.4em;
    border-radius: 50%;
    margin-right: 0.2em;
    position: relative;

}

a.phone_num>i>span {
    position: absolute;
    border-left: 2px solid currentColor;
    border-right: 2px solid currentColor;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    animation: phone_icon 1.5s infinite linear;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

@keyframes phone_icon {
    to {
        transform: rotate(360deg);
    }
}

a.phone_num>span {
    display: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__icon {
    position: absolute;
    height: 1.5em;
    width: 1.6em;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
}

.menu__icon>.icon__bar {
    height: .3em;
    border-radius: 10em;
    background-color: dodgerblue;
    position: relative;
    transition: .2s;
}

.menu__icon>.icon__bar::before {
    right: 106%;
    position: absolute;
    content: '';
    height: .3em;
    width: .3em;
    border-radius: 450%;
    background-color: dodgerblue;
}

.menu__icon>.icon__bar+.icon__bar {
    margin-top: calc(0.6em / 2);
}

.menu__icon.active .icon__bar--1 {
    transform: translateY(.5em) rotate(-45deg);
}

.menu__icon.active .icon__bar--2 {
    opacity: 0;
    ;
}

.menu__icon.active .icon__bar--3 {
    transform: translateY(-.5em) rotate(45deg);
}

/* *header: end */
/* * global navigation: begin */
.desktop_navigation {
    display: none;
}

.mobile_navigation {
    position: relative;
    z-index: var(--zindexOfNavigation);
}

ul {
    list-style: none;
}

.navigation__list-link {

    display: flex;
    align-items: center;
}

.mobile_navigation>.navigation__list-link {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 70%;
    background-color: #202020;
    transition: .2s ease-out;
    overflow: hidden;
    transform: translateX(-100%);
}

.mobile_navigation.active>.navigation__list-link {
    transform: translateX(0);
}

.navigation__link {
    display: block;
    padding: 0.7em 2em;
}

.mobile_navigation .navigation__link {
    color: #f7f7f7;
    font-size: 1.5rem;
}

/* * global navigation: end */

/* * main */
main {
    padding-top: 3.2em;
}

main>.main__content {
    flex: 2;
    padding: 1em 0;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--textColor);
    letter-spacing: 0.1em;
}

h2 {
    font-size: 1rem;
    margin: 1em 0 0.5em;
}

.main__content .info_contact {
    padding: 1em;
}

.main__content .contact .contact__item a {
    display: inline-block;
    padding: 0.5em;
}

.main__content .contact .image_icon {
    width: 2.5em;
}

.main__content .message form {
    width: 50%;
    position: relative;
}

.main__content .inputbox {
    position: relative;
    margin: 1.5em 0 0.5em 0.5em;
    background-color: white;
}

.main__content .inputbox input {
    position: absolute;
    background-color: transparent;
    font-size: 1rem;
    padding: 0.3em 0.2em;
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    outline: none;
    border-radius: 0.3em;
}

.main__content .inputbox span {
    display: inline-block;
    font-size: 1rem;
    padding: 0.4em 0.1em;
    color: grey;
    transform: scale(0.9);
    transition: 0.3s;
    pointer-events: none;
}

.main__content .inputbox input:focus~span,
.main__content .inputbox input:valid~span {
    transform: translateY(-1.5em) scale(0.8);
}

.main__content .inputbox textarea {
    padding: 0.5em;
    font-size: 1rem;
}

.main__content form input[type="submit"] {
    color: white;
    background-color: dodgerblue;
    position: absolute;
    right: 0;
}

/* * icon: begin */
.fa-facebook-f,
.fa-facebook {
    color: dodgerblue;
}

.fa-phone {
    color: #2ba3a3;
}

.fa-envelope {
    color: #e69b2b;
}

/* * icon: end */
main>.map {
    flex: 3;
    width: 100%;
    height: 50vh;
}

.map iframe {
    height: 100%;
    width: 100%;
}



















/* * footer: begin */
.footer {
    display: flex;
    align-items: center;
    min-height: 15em;
    padding: 1em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.37)), url(/image/bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.footer>* {
    flex: 1;
}

.footer__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__left__contact {
    display: flex;
    border-radius: 0.5em;
    padding: 0.3em;
}

.footer h3 {
    color: white;
}

.footer__left__contact a {
    display: inline-block;
    margin: 0.5em 1em;
}

.footer__left__contact a i {
    font-size: 1.7rem;
}



.zalo-icon {
    height: 1.7rem;
}

.footer__right {}



/* *footer: end */
/* *media query: begin */
@media screen and (min-width: 46.25em) {
    :root {
        font-size: calc(1vw + 0.5em);
    }

    a.phone_num>span {
        display: inline;
    }

}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {}

@media screen and (min-width: 63.9375em) {

    .desktop_navigation {
        display: block;
        flex: 2;
    }

    .desktop_navigation>.navigation__list-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 1em;
    }

    .desktop_navigation .navigation__link {
        font-size: 0.9rem;
        position: relative;
    }

    .desktop_navigation .navigation__link::before {
        content: '';
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        height: 5px;
        border-radius: 1em;
        background-color: dodgerblue;
        transform: scale(0);
        transition: 0.3s;
    }

    .desktop_navigation .navigation__link:hover::before {
        transform: scale(0.5);
    }

    .desktop_navigation .active.navigation__link {
        background-color: dodgerblue;
        color: white;
        border-radius: 3em;
    }

    a.phone_num {
        margin-right: 0;
    }

    .menu__icon {
        display: none;
    }


    main {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 3.2em;
    }

    .main__content .info_contact {
        width: 65%;
        margin: 0 auto;
    }

    .main__content .message form {
        width: 100%;
        position: relative;
    }

    main>.main__content {
        flex: 2;
    }

    main>.map {
        flex: 3;
        height: calc(100vh - 3.2em);
    }
}